nav {
  background-color: #4056A1;
  height: 140px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 50px;
  position: fixed;
  width: 100%;
}
.span1 {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
}

.span2 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.create-tweet-button {
  border: none;
}

.create-tweet-button img {
  height: 1em;
  width: 1em;
  font-size: 18px;
  filter: invert(30%) sepia(96%) saturate(7424%) hue-rotate(5deg) brightness(97%) contrast(127%);
}