nav {
  background-color: #768a79;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  height: 140px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 50px;
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 1;
}
.span1 {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
}

.span2 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.create-tweet-button {
  border: none;
  background: transparent;
  border-color:#768a79;
}

.create-tweet-button img {
  height: 1em;
  width: 1em;
  font-size: 18px;
  filter: invert(30%) sepia(96%) saturate(7424%) hue-rotate(5deg) brightness(97%) contrast(127%);
}

/* Media querys */

@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
  .create-tweet-button {
    background-color: #4056A1;
    background-image: none;
  }
}