.input-form {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  background: transparent;
  transition: border-color 0.2s;
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding-top: 1%;
}
hr {
  padding-bottom: 3;
  margin-top: 0;
  border-bottom-color: #545149;
  border-bottom-width: 5px;  
}

button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
}

.button-count {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 200px;
  width: 800px;
}

.tweet-box {
  padding-top: 15px;
}

/* Error message box */

.error-message {
  display: flex;
  justify-content: center;
  color: red;
  border: solid;
  border-color: red;
  border-width: 5px;
  height: 40px;
  font-size: smaller;
}

