article {
  border: solid;
  border-width: 2px;
  padding: 25px 25px;
  margin: 15px 15px;
  width: 100%;
}

article header .header-top {
  background: transparent;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 10px 10px;

}

article header .tweet-content {
  display: flex;
  justify-content: flex-start;
}

article header {
  background: transparent;
  height: 180px;
  border-bottom: solid;
  border-bottom-color: #545149;
  border-bottom-width: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

article footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

article footer img {
  width: 3%;
}

.repost-tweet {
  display: flex;
  justify-content: flex-end;
}

.tweet-name img {
  width: 1em;
}

.tweets-index {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 90%;
}

article:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-1px) scale(1);
}